.task {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.task+.task {
  margin-top: 15px;
}

.task input {
  font-size: 25px;
  margin: 0;
  padding: 0;
  height: initial;
  width: initial;
  display: none;
  cursor: pointer;
}


.task label {
  position: relative;
  cursor: pointer;
}

.task label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #d1d1d1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 7px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

.task input:checked+label:before {
  background-color: #434eac;
  border-color: #434eac;
}

.task label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 7px;
  width: 7px;
  height: 14px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.task input:checked+label:after {
  opacity: 1;
}
